In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data=pd.read_csv('train.csv',usecols=['Survived','Pclass','Age','Fare'])
data.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer

In [5]:
x=data.drop('Survived',axis=1)
y=data['Survived']

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [58]:
knn= KNNImputer(n_neighbors=5,weights='distance')
knn.fit(x_train)
x_train_knn=knn.transform(x_train)
x_test_knn=knn.transform(x_test)

In [59]:
pd.DataFrame(x_train_knn,columns=x_train.columns)

     Pclass        Age     Fare
0       1.0  22.000000  151.550
1       2.0  59.000000   13.500
2       3.0  21.000000   16.100
3       2.0  19.000000   26.000
4       3.0   4.000000   27.900
..      ...        ...      ...
707     3.0  32.400000    8.050
708     1.0  48.000000   26.550
709     3.0  45.000000    6.975
710     2.0  17.000000   12.000
711     3.0  29.666667   16.100

[712 rows x 3 columns]

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [61]:
clf=LogisticRegression()
clf.fit(x_train_knn,y_train)
y_pred=clf.predict(x_test_knn)

In [62]:
accuracy_score(y_test,y_pred)

0.6983240223463687

In [29]:
simple=SimpleImputer()
simple.fit(x_train)
x_train_simple=simple.transform(x_train)
x_test_simple=simple.transform(x_test)

In [30]:
model=LogisticRegression()
model.fit(x_train_simple,y_train)
y_predd=model.predict(x_test_simple)

In [31]:
accuracy_score(y_test,y_predd)

0.6871508379888268